/*default setting*/
* {
    margin: auto;
    box-sizing: border-box;
}

body {
    margin: auto;
    font-size: 1rem;
    width: 80%;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.box {
    margin: 0 0 1rem 0;
}

label {
    display: block;
}

/*form setting*/
legend {
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 0 0 1rem 0;
    font-size: 2rem;
}

fieldset {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

/*input setting*/
input,
textarea {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
}

textarea {
    width: 98%;
}

#submit {
    padding: 10px;
    background-color: #6495ED;
    color: white;
    border-radius: 5px;
}

/* Tablet - between 25rem and 40rem*/
@media screen and (min-width:25rem) {
    .float {
        float: left;
        width: 47.5%;
        margin: 3px;
    }

    .clear {
        clear: both;
    }
}

/*Desktop - between 40rem and 50rem | max-width: 50rem */
@media screen and (min-width:40rem) {
    body {
        max-width: 50rem;
    }

}
